In [77]:
import pandas as pd
oecd_bli = pd.read_csv("oecd_bli_2015.csv", thousands=',')
gdp_per_capita = pd.read_csv("gdp_per_capita.csv",thousands=',',delimiter='\t',encoding='latin1', na_values="n/a")

In [78]:
oecd_bli.head()

,LOCATION,Country,INDICATOR,Indicator,MEASURE,Measure,INEQUALITY,Inequality,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,1.1,E,Estimated value
1,AUT,Austria,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,1.0,NaN,NaN
2,BEL,Belgium,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,2.0,NaN,NaN
3,CAN,Canada,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,0.2,NaN,NaN
4,CZE,Czech Republic,HO_BASE,Dwellings without basic facilities,L,Value,TOT,Total,PC,Percentage,0,units,NaN,NaN,0.9,NaN,NaN

In [79]:
gdp_per_capita.head()

,Country,Subject Descriptor,Units,Scale,Country/Series-specific Notes,2015,Estimates Start After
0,Afghanistan,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",599.994,2013.0
1,Albania,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",3995.383,2010.0
2,Algeria,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",4318.135,2014.0
3,Angola,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",4100.315,2014.0
4,Antigua and Barbuda,"Gross domestic product per capita, current prices",U.S. dollars,Units,"See notes for: Gross domestic product, curren...",14414.302,2011.0

In [137]:
def prepare_country_stats(oecd_bli, gdp_per_capita):
    df = oecd_bli[['Country','Value']]
    df['GDP per capita'] = [gdp_per_capita[gdp_per_capita.Country == country]['2015'].values[0] if not gdp_per_capita[gdp_per_capita.Country == country].empty else 'N/A' for country in df['Country']]
    df = df.rename(columns= {'Value': 'Life satisfaction'})
    return df

In [138]:
prepare_country_stats(oecd_bli, gdp_per_capita)

C:\Users\USER\AppData\Local\Temp\ipykernel_1020\2527335942.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['GDP per capita'] = [gdp_per_capita[gdp_per_capita.Country == country]['2015'].values[0] if not gdp_per_capita[gdp_per_capita.Country == country].empty else 'N/A' for country in df['Country']]

             Country  Life satisfaction GDP per capita
0          Australia               1.10      50961.865
1            Austria               1.00      43724.031
2            Belgium               2.00      40106.632
3             Canada               0.20      43331.961
4     Czech Republic               0.90      17256.918
...              ...                ...            ...
3287         Estonia              14.43      17288.083
3288          Israel              14.24      35343.336
3289          Russia              14.75       9054.914
3290        Slovenia              14.12      20732.482
3291    OECD - Total              14.74            N/A

[3292 rows x 3 columns]

In [124]:
gdp_per_capita[gdp_per_capita.Country == 'Albania'].get('2015').values

array([3995.383])

In [ ]:
df.rename